<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>기초 실습1 암호화 사용하기</h1>
    <fieldset style="width: 300px">
      <legend>로그인 및 회원가입하기</legend>
      <a href="/login"><button>로그인</button></a>
      <a href="/signup"><button>회원가입</button></a>
    </fieldset>
  </body>
</html>
