<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="login-form">
      <input type="text" name="userid" placeholder="id" /><br />
      <input type="password" name="pw" placeholder="password" />
      <button type="button" onclick="login()">로그인</button>
    </form>
  </body>

  <script>
    async function login() {
      const form = document.forms["login-form"];
      const res = await axios({
        method: "post",
        url: "/login",
        data: {
          userid: form.userid.value,
          pw: form.pw.value,
        },
      });
      if (res.data.result) {
        console.log("로그인 완료");
        document.location.href = "/profile";
      } else {
        alert(res.data.message);
        document.location.reload();
      }
    }
  </script>
</html>
