<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    내 프로필
    <fieldset>
      <legend>내 정보</legend>
      <p id="userName"></p>
    </fieldset>
  </body>

  <script>
    const userName = localStorage.getItem("name");

    const userNameElement = document.getElementById("userName");
    userNameElement.textContent = `${userName} 님 환영합니다!`;
  </script>
</html>
