<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>getForm</title>
    <style>
      span {
        color: blue;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>ID : <span><%= userInfo.ID %></span></p>
    <p>PW : <span><%= userInfo.PW %></span></p>
    <a href="/">홈으로 이동</a>
  </body>
</html>
