<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>폼 실습을 해봅시다.</h1>
        <h2>GET 요청</h2>
        <p>
            <form action="/getForm" method="get">
                <input type="text" name="ID" placeholder="ID">
                <input type="password" name="PW" placeholder="PW">
                <button type="submit">제출</button>
            </form>
        </p>
        <h2>POST 요청</h2>
        <p>
            <form action="/postForm" method="post">
                <input type="text" name="ID" placeholder="ID">
                <input type="password" name="PW" placeholder="PW">
                <button type="submit">제출</button>
            </form>
        </p>
    </body>
</html>
