<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  <body>
    <h1>Node.js - MySQL 실습</h1>
    <h2>회원가입 & 로그인 & 회원정보 수정 & 회원 탈퇴</h2>

    <p>
      <a href="/user/signup">회원가입</a>
    </p>

    <p>
      <a href="/user/signin">로그인</a>
    </p>
  </body>
</html>
