<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>
  <body>
    <form action="/user/signin" method="post">
      <fieldset>
        <legend>로그인</legend>
        <input type="text" name="userid" placeholder="userid" />
        <br />
        <input type="text" name="pw" placeholder="password" />
        <br />
        <button type="submit">로그인하기</button>
      </fieldset>
    </form>
  </body>
</html>
