<html>
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1><%= data %>단</h1>
    <% for (var j = 1; j < 10;j++) { %>
      <% console.log(`${data} x ${j} = ${data * j}`); %>
      <p><%= data %> x <%= j %> = <%= data * j %></p>
    <% } %> 
  </body>
</html>
